rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null 
        && exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.admin == true;
    }

    function isApproved() {
      return request.auth != null 
        && exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.status == 'approved';
    }
    
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow read: if isAdmin();
      allow update: if isAdmin();
      allow create: if request.auth != null 
        && request.auth.uid == userId
        && request.resource.data.status == 'pending'
        && request.resource.data.roles.admin == false;
      allow delete: if false;
    }
    
    match /levantamentos/{docId} {
      allow read: if isApproved() || isAdmin();
      allow create: if isApproved() || isAdmin();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
